<header class="header">
  <div class="header-container container">
    <nav class="header-nav">
      <a
        class="header-logo animate__animated animate__lightSpeedInLeft animate__delay-1s"
        href="index.html"
        >SIMPLY<span class="header-logo-normal">CHOCOLATE</span>
        <svg class="header-logo-icon" width="21" height="21">
          <use href="/img/sprite.svg#icon-choco-logo"></use>
        </svg>
      </a>
      <ul class="header-list">
        <li class="header-item">
          <a class="header-link" href="index.html">Home</a>
        </li>
        <li class="header-item">
          <a class="header-link" href="#how-its-made">How it’s made?</a>
        </li>
        <li class="header-item">
          <a class="header-link" href="#our-products">Our products</a>
        </li>
        <li class="header-item">
          <a class="header-link" href="#top-sellers">Top sellers</a>
        </li>
        <li class="header-item">
          <a class="header-link" href="#reviews">Chocolate is loved</a>
        </li>
      </ul>
    </nav>
    <ul class="header-socials socials">
      <li class="header-socials-item">
        <a
          class="header-socials-link socials-link"
          href="https://www.instagram.com/"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Instagram icon"
        >
          <svg class="header-socials-icon socials-icon" width="24" height="24">
            <use href="/img/sprite.svg#icon-instagram-24"></use>
          </svg>
        </a>
      </li>
      <li class="header-socials-item">
        <a
          class="header-socials-link socials-link"
          href="https://twitter.com"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Twitter icon"
        >
          <svg class="header-socials-icon socials-icon" width="24" height="24">
            <use href="/img/sprite.svg#icon-twitter-24"></use>
          </svg>
        </a>
      </li>
    </ul>
    <button
      class="header-menu-toggle js-open-menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
      type="button"
    >
      <svg
        class="header-menu-icon header-menu-icon-mobile"
        width="28"
        height="28"
      >
        <use href="/img/sprite.svg#icon-menu-28"></use>
      </svg>
      <svg
        class="header-menu-icon header-menu-icon-tablet"
        width="32"
        height="32"
      >
        <use href="/img/sprite.svg#icon-menu-32"></use>
      </svg>
    </button>
  </div>
</header>
<!-- Mobile menu -->
<div class="menu-container js-menu-container" id="mobile-menu">
  <button class="header-menu-toggle js-close-menu" type="button">
    <svg class="menu-modal-icon menu-modal-icon-mobile" width="28" height="28">
      <use href="/img/sprite.svg#icon-menu-close"></use>
    </svg>
    <svg class="menu-modal-icon menu-modal-icon-tablet" width="32" height="32">
      <use href="/img/sprite.svg#icon-menu-close"></use>
    </svg>
  </button>
  <ul class="mobile-menu">
    <li class="mobile-menu-item">
      <a class="mobile-menu-link" href="index.html">Home</a>
    </li>
    <li class="mobile-menu-item">
      <a class="mobile-menu-link" href="index.html#how-its-made"
        >How it’s made?</a
      >
    </li>
    <li class="mobile-menu-item">
      <a class="mobile-menu-link" href="index.html#our-products"
        >Our products</a
      >
    </li>
    <li class="mobile-menu-item">
      <a class="mobile-menu-link" href="index.html#top-sellers">Top sellers</a>
    </li>
    <li class="mobile-menu-item">
      <a class="mobile-menu-link" href="index.html#reviews"
        >Chocolate is loved</a
      >
    </li>
  </ul>
  <ul class="mobile-menu-socials socials">
    <li class="mobile-menu-socials-item">
      <a
        class="mobile-menu-socials-link socials-link"
        href="https://www.instagram.com/"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Instagram icon"
      >
        <svg
          class="mobile-menu-socials-icon socials-icon mobile-menu-socials-icon-mobile"
          width="22"
          height="22"
        >
          <use href="/img/sprite.svg#icon-instagram-22"></use>
        </svg>
        <svg
          class="mobile-menu-socials-icon socials-icon mobile-menu-socials-icon-tablet"
          width="24"
          height="24"
        >
          <use href="/img/sprite.svg#icon-instagram-24"></use>
        </svg>
      </a>
    </li>
    <li class="mobile-menu-socials-item">
      <a
        class="mobile-menu-socials-link socials-link"
        href="https://twitter.com"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Twitter icon"
      >
        <svg
          class="mobile-menu-socials-icon socials-icon mobile-menu-socials-icon-mobile"
          width="22"
          height="22"
        >
          <use href="/img/sprite.svg#icon-twitter-22"></use>
        </svg>
        <svg
          class="mobile-menu-socials-icon socials-icon mobile-menu-socials-icon-tablet"
          width="24"
          height="24"
        >
          <use href="/img/sprite.svg#icon-twitter-24"></use>
        </svg>
      </a>
    </li>
  </ul>
</div>
<script
  defer
  src="https://cdnjs.cloudflare.com/ajax/libs/body-scroll-lock/3.1.5/bodyScrollLock.min.js"
  integrity="sha512-HowizSDbQl7UPEAsPnvJHlQsnBmU2YMrv7KkTBulTLEGz9chfBoWYyZJL+MUO6p/yBuuMO/8jI7O29YRZ2uBlA=="
  crossorigin="anonymous"
></script>
