<section class="hero">
  <h1 class="hero-title" hidden>simply chocolate</h1>
  <div class="container hero-banner">
    <h2 class="hero-subtitle">
      Treat yourself or a loved one to our finest ingredients for a moment of
      pure delight!
    </h2>
    <div class="hero-box-position">
      <div class="hero-box">
        <button class="button base-btn" type="button" data-modal-open="modal1">
          Buy now
        </button>
        <a class="button how-its-made-btn" href="#how-its-made"> How it’s made </a>
      </div>
      <a class="hero-link" href="#footer">
        scroll down
        <span class="vector-box">
          <svg class="hero-vector" width="16" height="16">
            <use href="/img/sprite.svg#icon-vector"></use>
          </svg>
        </span>
      </a>
    </div>
  </div>
</section>
