<section class="how-its-made-section" id="how-its-made">
  <div class="container container-how-its-made">
    <h2 class="how-its-made-title">
      HOW IT’S <span class="span-title">MADE?</span>
    </h2>
    <div class="content-wrapper">
      <div
        class="video"
        data-src="https://www.youtube.com/embed/fZGwpvGXDDo?autoplay=1"
      >
      <picture>
        <source
          srcset="
            /img/how-its-made-img/how-its-made-img-desktop.webp    1x,
            /img/how-its-made-img/how-its-made-img-desktop@2x.webp 2x
          "
          media="(min-width: 1200px)"
          type="image/webp"
        />
        <source
          srcset="
            /img/how-its-made-img/how-its-made-img-desktop.jpg    1x,
            /img/how-its-made-img/how-its-made-img-desktop@2x.jpg 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            /img/how-its-made-img/how-its-made-img-tablet.webp    1x,
            /img/how-its-made-img/how-its-made-img-tablet@2x.webp 2x
          "
          media="(min-width: 768px)"
          type="image/webp"
        />
        <source
          srcset="
            /img/how-its-made-img/how-its-made-img-tablet.jpg    1x,
            /img/how-its-made-img/how-its-made-img-tablet@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            /img/how-its-made-img/how-its-made-img-mobile.webp    1x,
            /img/how-its-made-img/how-its-made-img-mobile@2x.webp 2x
          "
          media="(min-width: 375px)"
          type="image/webp"
        />
        <source
          srcset="
            /img/how-its-made-img/how-its-made-img-mobile.jpg    1x,
            /img/how-its-made-img/how-its-made-img-mobile@2x.jpg 2x
          "
          media="(max-width: 767px)"
        />
        <img class="image-how-its-made"
          src="/img/how-its-made-img/how-its-made-img-mobile.jpg"
          alt="melted chocolate in a bowl"
          height="500"
        />
      </picture>
        <svg class="icon-video-play" height="35" width="35">
          <use href="/img/sprite.svg#icon-video-play"></use>
        </svg>
      </div>

      <div class="prescr-descr-wraper">
        <p class="how-its-made-description">
          Try our chocolates today and discover the perfect balance of flavor
        </p>
        <ul class="prescription-list">
          <li class="prescription-item">
            Heat the milk in a saucepan without bringing it to a boil. Add sugar
            and cocoa powder.
          </li>
          <li class="prescription-item">
            At the same time, prepare a water bath. Melt the butter on it.
          </li>
          <li class="prescription-item">
            "Mix" the milk mixture and already liquid butter. Mix thoroughly
            with a silicone spatula so that the mass becomes uniform and silky.
          </li>
          <li class="prescription-item">
            Heat the mixture over low heat, letting it barely boil.
          </li>
          <li class="prescription-item">
            Pour the chocolate into special containers (can be replaced with ice
            molds). Allow to cool and harden.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
