<div class="backdrop is-hidden" data-modal="modal1">
  <div class="buy_now-modal">
    <p class="buy_now-text"><span class="buy_now-text_part">buy</span> now</p>
    <ul class="buy_now-list">
      <li class="buy_now-item">
        <input
          class="buy_now-btn"
          type="radio"
          value="100g"
          name="buy"
          id="100g"
          required
        />
        <label for="100g" class="buy_now-card">
          <picture>
            <!-- DESKTOP/TABLET -->
            <source
              srcset="
                /img/modal_buy_now/desk_and_tab100g.webp    1x,
                /img/modal_buy_now/desk_and_tab100g@2x.webp 2x
              "
              media="(min-width: 768px)"
              width="120"
              height="107"
              type="image/webp"
            />
            <source
              srcset="
                /img/modal_buy_now/desk_and_tab100g.jpg     1x,
                /img/modal_buy_now/desk_and_tab100g@2x.jpg  2x
              "
              media="(min-width: 768px)"
              width="120"
              height="107"
            />
            <!-- MOBILE -->
            <source
              srcset="
                /img/modal_buy_now/mobile100g.webp    1x,
                /img/modal_buy_now/mobile100g@2x.webp 2x
              "
              media="(max-width: 767px)"
              width="84"
              height="69"
              type="image/webp"
            />
            <source
              srcset="
                /img/modal_buy_now/mobile100g.jpg        1x,
                /img/modal_buy_now/mobile100g@2x.jpg  2x
              "
              media="(max-width: 767px)"
              width="84"
              height="69"
            />
            <img
              class="buy_now-img"
              src="/img/modal_buy_now/mobile100g.jpg"
              alt="some chocolate"
              width="84"
              height="69"
            />
          </picture>
          <span class="buy_now-weight">100 g</span>
        </label>
      </li>
      <li class="buy_now-item">
        <input
          class="buy_now-btn"
          type="radio"
          value="200g"
          name="buy"
          id="200g"
          required
        />
        <label for="200g" class="buy_now-card">
          <picture>
            <!-- DESKTOP/TABLET -->
            <source
              srcset="
                /img/modal_buy_now/desk_and_tab200g.webp    1x,
                /img/modal_buy_now/desk_and_tab200g@2x.webp 2x
              "
              media="(min-width: 768px)"
              width="120"
              height="107"
              type="image/webp"
            />
            <source
              srcset="
                /img/modal_buy_now/desk_and_tab200g.jpg     1x,
                /img/modal_buy_now/desk_and_tab200g@2x.jpg  2x
              "
              media="(min-width: 768px)"
              width="120"
              height="107"
            />
            <!-- MOBILE -->
            <source
              srcset="
                /img/modal_buy_now/mobile200g.webp    1x,
                /img/modal_buy_now/mobile200g@2x.webp 2x
              "
              media="(max-width: 767px)"
              width="84"
              height="69"
              type="image/webp"
            />
            <source
              srcset="
                /img/modal_buy_now/mobile200g.jpg   1x,
                /img/modal_buy_now/mobile200g@2x.jpg  2x
              "
              media="(max-width: 767px)"
              width="84"
              height="69"              
            />
            <img
              class="buy_now-img"
              src="/img/modal_buy_now/mobile200g.jpg"
              alt="medium chocolate"
              width="84"
              height="69"
            />
          </picture>
          <span class="buy_now-weight">200 g</span>
        </label>
      </li>
      <li class="buy_now-item">
        <input
          class="buy_now-btn"
          type="radio"
          value="300g"
          name="buy"
          id="300g"
          required
        />
        <label for="300g" class="buy_now-card">
          <picture>
            <!-- DESKTOP/TABLET -->
            <source
              srcset="
                /img/modal_buy_now/desk_and_tab300g.webp    1x,
                /img/modal_buy_now/desk_and_tab300g@2x.webp 2x
              "
              media="(min-width: 768px)"
              width="120"
              height="107"
              type="image/webp"
            />
            <source
              srcset="
                /img/modal_buy_now/desk_and_tab300g.jpg     1x,
                /img/modal_buy_now/desk_and_tab300g@2x.jpg  2x
              "
              media="(min-width: 768px)"
              width="120"
              height="107"
            />
            <!-- MOBILE -->
            <source
              srcset="
                /img/modal_buy_now/mobile300g.webp    1x,
                /img/modal_buy_now/mobile300g@2x.webp 2x
              "
              media="(max-width: 767px)"
              width="84"
              height="69"
              type="image/webp"
            />
            <source
              srcset="
                /img/modal_buy_now/mobile300g.jpg   1x,
                /img/modal_buy_now/mobile300g@2x.jpg  2x
              "
              media="(max-width: 767px)"
              width="84"
              height="69"
            />
            <img
              class="buy_now-img"
              src="/img/modal_buy_now/mobile300g.jpg"
              alt="many chocolate"
              width="84"
              height="69"
            />
          </picture>
          <span class="buy_now-weight">300 g</span>
        </label>
      </li>
    </ul>
    <form class="signup_form">
      <div class="signup_form-wrapper">
        <label class="signup_form-user_info" for="buy-user-name"
          >Personal information</label
        >
        <div class="signup_form-wrapper_name">
          <input
            class="signup_form-field"
            name="buy-user-name"
            id="buy-user-name"
            type="text"
            placeholder="Name"
            required
            pattern="[A-Za-zА-Яа-яЁёІіЇїЄєґҐ\s-]+"
            title="Please enter a valid name. Only letters and spaces are allowed."
            minlength="3"
          />
          <input
            class="signup_form-field"
            name="user-surname"
            type="text"
            placeholder="Surname"
            required
            pattern="[A-Za-zА-Яа-яЁёІіЇїЄєґҐ\s-]+"
            title="Please enter a valid surname. Only letters and spaces are allowed."
            minlength="3"
          />
        </div>
      </div>
      <div class="signup_form-wrapper">
        <label class="signup_form-user_info" for="buy-user-email">Email</label>
        <input
          class="signup_form-field"
          name="buy-user-email"
          id="buy-user-email"
          type="email"
          placeholder="Enter your email"
          pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
          title="Please enter a valid email address"
          required
        />
      </div>
      <div class="signup_form-wrapper">
        <label class="signup_form-user_info" for="user-phone"
          >Phone number</label
        >
        <div class="signup_form-wrapper_phone">
          <div class="signup_form-wrapper_position">
            <svg class="signup_form-icon_flag" width="24" height="18">
              <use href="/img/sprite.svg#icon-flag"></use>
            </svg>
            <span class="signup_form-operator_code">+380</span>
          </div>
          <input
            class="signup_form-field"
            name="user-phone"
            id="user-phone"
            type="tel"
            placeholder="Phone number"
            pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}"
            title="xxx-xxx-xx-xx"
            required
          />
        </div>
      </div>
      <div class="signup_form-wrapper">
        <label class="signup_form-user_info" for="card_number"
          >Card number</label
        >
        <div class="signup_form-wrapper_card-number">
          <input
            class="signup_form-field"
            name="card_number"
            id="card_number"
            type="tel"
            placeholder="Enter card"
            pattern="[0-9]{4}-[0-9]{4}-[0-9]{4}-[0-9]{4}"
            title="xxxx-xxxx-xxxx-xxxx"
            maxlength="19"
            required
          />
          <svg class="signup_form-card_number" width="32" height="21">
            <use href="/img/sprite.svg#icon-mastercard"></use>
          </svg>
        </div>
      </div>
      <div class="signup_form-wrapper">
        <label class="signup_form-user_info" for="buy-user-comment">Comment</label>
        <textarea
          id="buy-user-comment"
          class="signup_form-user_desc"
          name="buy-user-comment"
          placeholder="Enter text"
        ></textarea>
      </div>
      <button class="button base-btn" type="submit">Submit</button>
    </form>
    <button
      class="modal-close-btn"
      type="button"
      data-modal-close="modal1"
    ></button>
  </div>
</div>
