<section class="our-products-section" id="our-products">
  <div class="container">
    <h2 class="our-products-title">
      OUR <span class="our-products-title-right">PRODUCTS</span>
    </h2>
    <div class="swiper mySwiper1">
      <ul class="our-products-list swiper-wrapper">
        <li class="our-products-item swiper-slide">
          <picture>
            <source
              srcset="
                /img/photo-our-products/orange-chocolate.webp    1x,
                /img/photo-our-products/orange-chocolate@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                /img/photo-our-products/orange-chocolate.jpg    1x,
                /img/photo-our-products/orange-chocolate@2x.jpg 2x
              "
            />
            <img
              src="/img/photo-our-products/orange-chocolate.jpg"
              alt="Orange chocolate"
              width="230"
            />
          </picture>
          <div class="name-products">
            <h3 class="suptitle-our-products">ORANGE</h3>
            <p class="type-our-products">Dark chocolate</p>
            <button type="button" class="our-products-btn">45 UAH</button>
          </div>
        </li>
        <li class="our-products-item swiper-slide">
          <picture>
            <source
              srcset="
                /img/photo-our-products/apple-chocolate.webp    1x,
                /img/photo-our-products/apple-chocolate@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                /img/photo-our-products/apple-chocolate.jpg    1x,
                /img/photo-our-products/apple-chocolate@2x.jpg 2x
              "
            />
            <img
              src="/img/photo-our-products/apple-chocolate.jpg"
              alt="Apple chocolate"
              width="230"
            />
          </picture>
          <div class="name-products">
            <h3 class="suptitle-our-products">APPLE&CRANBERRY</h3>
            <p class="type-our-products">Milk chocolate</p>
            <button type="button" class="our-products-btn">50 UAH</button>
          </div>
        </li>
        <li class="our-products-item swiper-slide">
          <picture>
            <source
              srcset="
                /img/photo-our-products/lime-chocolate.webp    1x,
                /img/photo-our-products/lime-chocolate@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                /img/photo-our-products/lime-chocolate.jpg    1x,
                /img/photo-our-products/lime-chocolate@2x.jpg 2x
              "
            />
            <img
              src="/img/photo-our-products/lime-chocolate.jpg"
              alt="Lime chocolate"
              width="230"
            />
          </picture>
          <div class="name-products">
            <h3 class="suptitle-our-products">LIME&SEA SALT</h3>
            <p class="type-our-products">Dark chocolate</p>
            <button type="button" class="our-products-btn">66 UAH</button>
          </div>
        </li>
        <li class="our-products-item swiper-slide">
          <picture>
            <source
              srcset="
                /img/photo-our-products/pineapple-chocolate.webp    1x,
                /img/photo-our-products/pineapple-chocolate@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                /img/photo-our-products/pineapple-chocolate.jpg    1x,
                /img/photo-our-products/pineapple-chocolate@2x.jpg 2x
              "
            />
            <img
              src="/img/photo-our-products/pineapple-chocolate.jpg"
              alt="Pineapple chocolate"
              width="230"
            />
          </picture>
          <div class="name-products">
            <h3 class="suptitle-our-products">PINEAPPLE</h3>
            <p class="type-our-products">Dark chocolate</p>
            <button type="button" class="our-products-btn">54 UAH</button>
          </div>
        </li>
        <li class="our-products-item swiper-slide">
          <picture>
            <source
              srcset="
                /img/photo-our-products/classic-milk-chocolate.webp    1x,
                /img/photo-our-products/classic-milk-chocolate@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                /img/photo-our-products/classic-milk-chocolate.jpg    1x,
                /img/photo-our-products/classic-milk-chocolate@2x.jpg 2x
              "
            />
            <img
              src="/img/photo-our-products/classic-milk-chocolate.jpg"
              alt="Classic milk chocolate"
              width="230"
            />
          </picture>
          <div class="name-products">
            <h3 class="suptitle-our-products">CLASSIC</h3>
            <p class="type-our-products">Milk chocolate</p>
            <button type="button" class="our-products-btn">45 UAH</button>
          </div>
        </li>
        <li class="our-products-item swiper-slide">
          <picture>
            <source
              srcset="
                /img/photo-our-products/honey-chocolate.webp    1x,
                /img/photo-our-products/honey-chocolate@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                /img/photo-our-products/honey-chocolate.jpg    1x,
                /img/photo-our-products/honey-chocolate@2x.jpg 2x
              "
            />
            <img
              src="/img/photo-our-products/honey-chocolate.jpg"
              alt="Honey chocolate"
              width="230"
            />
          </picture>
          <div class="name-products">
            <h3 class="suptitle-our-products">HONEY</h3>
            <p class="type-our-products">Milk chocolate</p>
            <button type="button" class="our-products-btn">50 UAH</button>
          </div>
        </li>
        <li class="our-products-item swiper-slide">
          <picture>
            <source
              srcset="
                /img/photo-our-products/roasted-chocolate.webp    1x,
                /img/photo-our-products/roasted-chocolate@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                /img/photo-our-products/roasted-chocolate.jpg    1x,
                /img/photo-our-products/roasted-chocolate@2x.jpg 2x
              "
            />
            <img
              src="/img/photo-our-products/roasted-chocolate.jpg"
              alt="Roasted chocolate"
              width="230"
            />
          </picture>
          <div class="name-products">
            <h3 class="suptitle-our-products">ROASTED FRUITS</h3>
            <p class="type-our-products">Dark chocolate</p>
            <button type="button" class="our-products-btn">66 UAH</button>
          </div>
        </li>
        <li class="our-products-item swiper-slide">
          <picture>
            <source
              srcset="
                /img/photo-our-products/classic-white-chocolate.webp    1x,
                /img/photo-our-products/classic-white-chocolate@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                /img/photo-our-products/classic-white-chocolate.jpg    1x,
                /img/photo-our-products/classic-white-chocolate@2x.jpg 2x
              "
            />
            <img
              src="/img/photo-our-products/classic-white-chocolate.jpg"
              alt="Classic white chocolate"
              width="230"
            />
          </picture>
          <div class="name-products">
            <h3 class="suptitle-our-products">CLASSIC</h3>
            <p class="type-our-products">White chocolate</p>
            <button type="button" class="our-products-btn">54 UAH</button>
          </div>
        </li>
      </ul>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
