<section class="reviews-section" id="reviews">
    <div class="container reviews-container">
        <h2 class="review-section-title"><span class="review-section-title-part">chocolate</span> is loved</h2>

        <div class="swiper mySwiper2">
            <ul class="swiper-wrapper">
                <li class="swiper-slide review-swiper-slide">
                    <div class="review-img-wrapper">
                        <picture>
                            <source
                                srcset="
                                /img/reviews-img/victoria-dobrzhanska.webp    1x,
                                /img/reviews-img/victoria-dobrzhanska@2x.webp 2x
                                "
                                width="80"
                                height="80"
                                type="image/webp"
                            />
                            <source
                            srcset="
                            /img/reviews-img/victoria-dobrzhanska.jpg 1x,
                            /img/reviews-img/victoria-dobrzhanska@2x.jpg  2x
                            "
                            width="80"
                            height="80"
                          />
                          <img class="review-img"
                            src="/img/reviews-img/victoria-dobrzhanska.jpg"
                            alt="Victoria Dobrzhanska's photo, readhead yound woman" width="80" height="80">
                        </picture>
                    </div>

                    <div class="review-comment-wrapper">
                        <h3 class="review-persons-name">Victoria Dobrzhanska</h3>
                        <p class="reviews-section-comment">I love this chocolate bar. Perfect combination of light crispy wafer, covered in a thin layer chocolate.</p>
                    </div>
                </li>
                <li class="swiper-slide review-swiper-slide">

                    <div class="review-img-wrapper">
                        <picture>
                            <source
                                srcset="
                                /img/reviews-img/danilo-nottingham.webp    1x,
                                /img/reviews-img/danilo-nottingham@2x.webp 2x
                                "
                                width="80"
                                height="80"
                                type="image/webp"
                            />
                            <source
                            srcset="
                            /img/reviews-img/danilo-nottingham.jpg 1x,
                            /img/reviews-img/danilo-nottingham@2x.jpg  2x
                            "
                            width="80"
                            height="80"
                          />
                          <img class="review-img"
                            src="/img/reviews-img/danilo-nottingham.jpg"
                            alt="Young guy with black and white filter" width="80" height="80">
                        </picture>
                    </div>

                    <div class="review-comment-wrapper">
                        <h3 class="review-persons-name">Danilo Nottingham</h3>
                        <p class="reviews-section-comment">This is delicious. It so rich and flavorful you don’t
                            need to
                            use as many. I love topping an apple with almond butter and these chips for a snack.
                        </p>
                    </div>
                </li>
                <li class="swiper-slide review-swiper-slide">
                    <div class="review-img-wrapper">
                        <picture>
                            <source
                                srcset="
                                /img/reviews-img/olena-kampusch.webp    1x,
                                /img/reviews-img/olena-kampusch@2x.webp 2x
                                "
                                width="80"
                                height="80"
                                type="image/webp"
                            />
                            <source
                            srcset="
                            /img/reviews-img/olena-kampusch.jpg 1x,
                            /img/reviews-img/olena-kampusch@2x.jpg  2x
                            "
                            width="80"
                            height="80"
                            />
                          <img class="review-img"
                            src="/img/reviews-img/olena-kampusch.jpg"
                            alt="Olena Kampusch's photo, blonde, young woman" width="80" height="80">
                        </picture>
                    </div>
                    <div class="review-comment-wrapper">
                        <h3 class="review-persons-name">Olena Kampusch</h3>
                        <p class="reviews-section-comment"> Chocolate is a family favourite treat. Love the
                            delicious
                            smooth chocolate and the
                            creaminess
                            inside. The wafer is soft but crunchy.</p>
                    </div>
                </li>
                <li class="swiper-slide review-swiper-slide">
                    <div class="review-img-wrapper">
                        <picture>
                            <source
                                srcset="
                                /img/reviews-img/irina-tydnyuk.webp    1x,
                                /img/reviews-img/irina-tydnyuk@2x.webp 2x
                                "
                                width="80"
                                height="80"
                                type="image/webp"
                            />
                            <source
                            srcset="
                            /img/reviews-img/irina-tydnyuk.jpg 1x,
                            /img/reviews-img/irina-tydnyuk@2x.jpg  2x
                            "
                            width="80"
                            height="80"
                            />
                          <img class="review-img"
                            src="/img/reviews-img/irina-tydnyuk.jpg"
                            alt="Irina Tydnyuk, a young blonde woman" width="80" height="80">
                        </picture>
                    </div>
                    <div class="review-comment-wrapper">
                        <h3 class="review-persons-name">Irina Tydnyuk</h3>
                        <p class="reviews-section-comment">This is simply the best chocolate around, and I'm just
                            thrilled to support a local company! Best local chocolate - world class.</p>
                    </div>
                </li>

            </ul>
            <div class="swiper-pagination review-swiper-pagination"></div>
        </div>

    </div>

    <button type="button" class="button review-btn" data-modal-open="modal2">Leave a review</button>

</section>

<!-- Modal Window Leave a review -->


<!-- Review Form -->

<div class="backdrop-review-form is-hidden backdrop" data-modal="modal2">

    <div class="leave-review-modal-window">

        <button type="button" class="modal-close-btn" data-modal-close="modal2">

            <svg class="review-close-btn-icon" aria-label="close button">
                <use href="/img/sprite.svg#icon-close"></use>

            </svg>

        </button>

        <p class="review-form-heading">leave a review about <span class="review-form-heading-part">our chocolate</span></p>

        <!-- Form -->


        <!-- Name -->

        <form class="leave-review-form">

            <label class="review-form-field-wrapper" for="review-user-name">

                <input class="review-form-input" type="text" name="review-user-name" pattern="[a-zA-Z]+" id="review-user-name"
                    placeholder="Name" required>
            </label>

            <!-- Email -->

            <label class="review-form-field-wrapper" for="review-user-email">


                <input class="review-form-input" type="email" name="review-user-email" id="review-user-email"
                pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" placeholder="Enter your email" required>

            </label>

            <!-- Phone -->

            <div class="review-form-container phone-imput-wrapper">

                <label class="review-form-field-wrapper" for="user-tel"></label>

                <!-- <div class="contact-form-input-wrapper"> -->

                <input class="review-form-input review-tel-input" type="tel" name="user-phone-number" id="user-tel"
                    placeholder="Phone number" pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}" title="xxx-xxx-xx-xx"
                    required>

                <div class="phone-start">
                    <svg class="country-flag-icon" aria-label="your phone number">
                        <use href="/img/sprite.svg#icon-flag"></use>
                    </svg>
                    <p class="country-code-numbers">+380</p>
                </div>

                <!-- </div> -->
            </div>

            <!-- Comment -->

            <label class="review-form-field-wrapper" for="review-user-comment">

                <textarea class="review-form-comment" name="review-user-comment" placeholder="Enter text"
                    id="review-user-comment"></textarea>
            </label>


            <button class="button base-btn review-send-btn" type="submit">Send</button>

        </form>

    </div>


</div>