<section class="top-sellers" id="top-sellers">
  <div class="top-sellers-section container">
    <h2 class="main-section-text"><span class="colored">Top</span> Sellers</h2>
    <div class="photo">
      <ul class="top-sellers-list">
        <li class="examples photo-one">
          <picture>
            <source
              srcset="
                /img/top-sellers/img01@1x.jpg 1x,
                /img/top-sellers/img01@2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                /img/top-sellers/tablet01@1x.jpg 1x,
                /img/top-sellers/tablet01@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/top-sellers/mobile01@1x.jpg 1x,
                /img/top-sellers/mobile01@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="/img/top-sellers/img01@1x.jpg"
              alt="chocolate1"
              height="464"
            />
          </picture>
        </li>

        <li class="mobile-text">
          <p class="text-hidden">
            Crazy enough chocolate originates from a bean just like the coffee
            bean called Cacao. Cacao has been around for thousands of years and
            was first discovered by the Native American tribe called the Mayans.
          </p>
        </li>

        <li class="examples photo-two">
          <picture>
            <source
              srcset="
                /img/top-sellers/img02@1x.jpg 1x,
                /img/top-sellers/img02@2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                /img/top-sellers/tablet02@1x.jpg 1x,
                /img/top-sellers/tablet02@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/top-sellers/mobile02@1x.jpg 1x,
                /img/top-sellers/mobile02@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="/img/top-sellers/img02@1x.jpg"
              alt="chocolate2"
              height="464"
            />
          </picture>
        </li>

        <li class="examples tablet-mobile">
          <picture>
            <source
              srcset="
                /img/top-sellers/img03@1x.jpg 1x,
                /img/top-sellers/img03@2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <img
              src="/img/top-sellers/img03@1x.jpg"
              alt="chocolate3"
              height="464"
            />
          </picture>
        </li>
      </ul>
    </div>

    <div class="top-sellers-text">
      <p class="text">
        Crazy enough chocolate originates from a bean just like the coffee bean
        called Cacao. Cacao has been around for thousands of years and was first
        discovered by the Native American tribe called the Mayans.
      </p>
      <button type="button" class="button base-btn" data-modal-open="modal1">
        Buy now
      </button>
    </div>
  </div>
</section>
