:root {
  --main-font-family: 'Montserrat', sans-serif;
  --primary-text-color: #111111;
  --accent-background-color: #1e1823;
  --accent-color: #fd9222;
  --light-accent-color: #fcf1e0;
  --background-color: #fafafa;
  --white-color: #fff;
  --transition-duration-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: var(--main-font-family);
  color: var(--primary-text-color);
  background-color: var(--background-color);
}

.container {
  max-width: 375px;
  margin: 0 auto;
  padding: 0 20px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 93px;
  height: 41px;
  padding: 12px 28px;
  margin: 0;
  border-radius: 100px;

  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  transition: color var(--transition-duration-and-func),
  background-color var(--transition-duration-and-func);
}

.base-btn,
.subscribe-btn {
  border: none;
  color: var(--white-color);
  background-color: var(--accent-color);
}

.base-btn:hover,
.base-btn:focus,
.subscribe-btn:hover,
.subscribe-btn:focus {
  color: var(--accent-color);
  background-color: var(--light-accent-color);
}

.how-its-made-btn {
  background-color: transparent;
  border: 1px solid var(--white-color);
  color: var(--white-color);
  transition: border-color var(--transition-duration-and-func),
    color var(--transition-duration-and-func);
}

.how-its-made-btn:hover,
.how-its-made-btn:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.review-btn {
  background-color: transparent;
  border: 1px solid var(--accent-color);
  color: var(--primary-text-color);
}

.review-btn:hover,
.review-btn:focus {
  border-color: transparent;
  background-color: var(--accent-color);
  color: var(--white-color);
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .button {
    min-width: 117px;
    height: 45px;
    padding: 14px 40px;
  }

  .review-btn,
  .subscribe-btn {
    height: 50px;
    font-size: 18px;
    line-height: 1.22;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
  body[style='overflow: hidden;'] {
    margin-right: 17px;
  }
}
