.main-section-text {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--primary-text-color);
  margin-bottom: 50px;
}
.colored {
  color: var(--accent-color);
}
.top-sellers-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-items: center;
}
.top-sellers-text {
  display: flex;
  justify-content: space-between;
}
.text {
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  width: 407px;
  color: var(--primary-text-color);
}
.photo {
  padding-bottom: 32px;
}

@media screen and (max-width: 1199px) {
  .tablet-mobile {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .top-sellers {
    padding-bottom: 72px;
  }
  .photo {
    padding-bottom: 20px;
  }
  .mobile-text {
    font-size: 14px;
    line-height: 18px;
    text-align: left;
    width: 306px;
    padding-bottom: 12px;
  }
  .top-sellers-text {
    justify-content: center;
  }
  .text {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .mobile-text {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .top-sellers {
    padding-bottom: 100px;
  }
}

@media screen and (min-width: 1200px) {
  .top-sellers {
    padding-bottom: 128px;
  }
}
